@use 'cores';
.crew{
    padding: 10px 50px;
    display: block;

    &__container{
        overflow: 
        
        &__title{}

        &__members{
            display: flex;
            overflow-x: scroll;
            scrollbar-color: transparent transparent;

            &__member{
                display: block;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin: 10px;
                
                h3{
                    color: silver;
                    font-family: Roboto, sans-serif;
                    font-size: 1em;
                }

                h4{
                    color: silver;
                    font-family: "PT Serif", serif;
                    font-size: 0.8em;
                    font-weight: 100;
                }

                
                img{
                    width: 100px; // or any other value
                    height: 100px; // same value as width to make it square
                    object-fit: cover;
                    border-radius: 4px;
                    border: 2px solid cores.$corRosaPrincial;
                }
            }
        }
    }
}