@use 'cores';

.critics{
    margin-top: 5vw;
    padding: 2vw;
    //background-image: url(../../img/full/photo1.jpg);
    background: linear-gradient(to left,
    rgba(0, 0, 0, 0.0), 
    rgba(0, 0, 0, 12)), url(../../img/full/photo1.jpg);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;

    &__container{

        &__item{
            width: 30%;
            margin-top: 25px;
            p{
                color: cores.$corRosaPrincial;
                font-family: PT Seris, serif;
                font-size: 1.2em;

                @media (max-width: 768px){
                    display: none;
                }
            }
            h3{
                margin-top: 4px;
                border-top: 1px solid silver;
                font-family: "Bebas Neue", sans-serif;
                color: silver;
                font-size: 1.2em;
                font-weight: 200;
                letter-spacing: 1px;
                @media (max-width: 768px){
                    border: none;
                }
            }
            h5{
                color: silver;
                font-family: roboto, sans-serif;
            }
        }
    }

}