.hero{
    padding: 0.5vw;
    min-height: 50vh;
    width: 100%;
    background-image: url('../../img/bd.jpg');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;



    
}